<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Boodskap IoT Platform Machine Status</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Boodskap Inc.," name="author"/>


    <base href="<%= basepath %>/" />

    <link href="images/favicon.ico" rel="icon">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>

    <style>
        body{
            padding: 0px;
            margin: 0px;
        }
    </style>

</head>
<body>
<section style="background-color: #333" class="pt-2 pb-2">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="images/boodskap-logo.png"  />
            <h6 class="text-white">Platform Services Cluster Machine Status</h6>
        </div>
    </div>
</section>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Cassandra</h5>
                <div class="card-body">
                    <% if(platformStatus.emqx){ %>
                    <ul class="list-group">
                        <% for(var i=0;i< platformStatus.cassandra.machine.length;i++){ %>
                        <li class="list-group-item"><i class="fa fa-server"></i> <%= platformStatus.cassandra.machine[i] %>
                            <% if(platformStatus.cassandra.runningMachine.includes(platformStatus.cassandra.machine[i]+":"+conf.platform.cassandra.port)){ %>
                            <span class="pull-right text-success" title="Up & Running"><i class="fa fa-circle"></i></span>
                            <% } else { %>
                            <span class="pull-right text-danger" title="Down"><i class="fa fa-circle"></i></span>
                            <% } %>
                        </li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Elastic Search</h5>
                <div class="card-body">
                    <% if(platformStatus.emqx){ %>
                    <ul class="list-group">
                        <% for(var i=0;i< platformStatus.elasticSearch.machine.length;i++){ %>
                            <li class="list-group-item"><i class="fa fa-server"></i> <%= platformStatus.elasticSearch.machine[i] %>
                                <% if(platformStatus.elasticSearch.runningMachine.includes(platformStatus.elasticSearch.machine[i])){ %>
                                    <span class="pull-right text-success" title="Up & Running"><i class="fa fa-circle"></i></span>
                                <% } else { %>
                                    <span class="pull-right text-danger" title="Down"><i class="fa fa-circle"></i></span>
                                <% } %>
                            </li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">EMQX</h5>
                <div class="card-body">
                    <% if(platformStatus.emqx){ %>
                    <ul class="list-group">
                        <% for(var i=0;i< platformStatus.emqx.machine.length;i++){ %>
                        <li class="list-group-item"><i class="fa fa-server"></i> <%= platformStatus.emqx.machine[i] %>
                            <% if(platformStatus.emqx.runningMachine.includes(platformStatus.emqx.machine[i])){ %>
                            <span class="pull-right text-success" title="Up & Running"><i class="fa fa-circle"></i></span>
                            <% } else { %>
                            <span class="pull-right text-danger" title="Down"><i class="fa fa-circle"></i></span>
                            <% } %>
                        </li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <p class="mt-3 text-muted">
                <small><i class="fa fa-clock-o"></i> Last Scanned at
                    <% if(platformStatus.lastUpdated){ %>
                        <%= new Date(platformStatus.lastUpdated) %>
                    <% } else { %>
                        Not Available
                    <% } %>
                </small>
            </p>
        </div>
    </div>
</div>


<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

<script>
    setInterval(function () {
        document.location=""
    },1000 * 60)
</script>

</body>
</html>
